body {
  padding: 1em;
  font-family: sans-serif;
}

.document,
.document::after,
.document:link {
  text-decoration: none;
  color:darkolivegreen;
  font-size:1.5em;
  border-style: 2px solid;
  padding-right: 20px;  
}
.document:hover {
  color:black;
}

.document-list {
  list-style-image: url("../images/file.png");
}

.flash-message {
  background-color: rgb(238, 242, 204);
  padding: 10px;
  font-size: 1.5em;
}

.btn, .btn::after, .btn:link {
  text-decoration: none;
  color:dodgerblue;
  padding: 3px 6px 2px 6px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
}

.btn:hover {
  background-color:lavender;
}
.document-list form {
  display:inline;
}

.delete {
  color:rgb(222, 107, 130);
  border: 2px solid rgb(222, 107, 130);
}
.delete:hover{
  background-color:firebrick;
}

.edit {
  color:darkcyan !important;
  border: 2px solid darkcyan !important;
}
.edit:hover {
  background-color:lightgreen;
}

.login label {
  color:darkslategrey;
}
.login input {
  margin: .8em;
}
